<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/css/main_styles.css">

<html>

<head>
<title>Peddie Computer Science Club</title>
<link rel="icon" href="/assets/CSLogo.png" type="image/gif">
<meta name="theme-color" content="#4B52EC"/>
<meta property="og:title" content="SkyMocha"/>
<meta property="og:url" content="http://www.skymocha.net"/>
<meta property="og:description" content="The SkyMocha website associated with the SkyMocha YouTube channel containing a portfolio of work and a personal blog."/>
<meta property="og:image" content="/logo_assets/SkyMocha.png"/>

<meta name="descritpion" id="descritpion" content="The SkyMocha website associated with the SkyMocha YouTube channel containing a portfolio of work and a personal blog.">
<meta name="keywords" id="keywords" content="SkyMocha">
<meta name="author" content="SkyMocha">

</head>

<body>


    <div class="top_row"> 

        <div class="title">
            <h1><%= num %>. <%= name %></h1>
            <h3>MochiComics</h3>

            <br>

        </div>

    </div>

    <br><br><br>

    <div class="body"> 

        <% for(var i=0; i < raw.length; i++) { %>
            <p><%= raw[i] %></p>
        <% } %>
        
    </div>

    <div class="bottom_row">

        <div>  
            <h2>Contact</h2>

            <hr class="half">

            <h3>Email: <a href="" target="_blank">N/A</a></h3>
            <h3>Twitter: <a href="" target="_blank">N/A</a></h3>
        </div>

        <div>  
            <h2>Newsletter</h2>

            <hr class="half">

            <h3>TBA</h3>
        </div>

    </div>

</body>

<script>


</script>

</html>