<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" type="text/css" href="/css/main_styles.css">

<html>

<head>
<title>Peddie Computer Science Club</title>
<link rel="icon" href="/assets/CSLogo.png" type="image/gif">
<meta name="theme-color" content="#4B52EC"/>
<meta property="og:title" content="SkyMocha"/>
<meta property="og:url" content="http://www.skymocha.net"/>
<meta property="og:description" content="The SkyMocha website associated with the SkyMocha YouTube channel containing a portfolio of work and a personal blog."/>
<meta property="og:image" content="/logo_assets/SkyMocha.png"/>

<meta name="descritpion" id="descritpion" content="The SkyMocha website associated with the SkyMocha YouTube channel containing a portfolio of work and a personal blog.">
<meta name="keywords" id="keywords" content="SkyMocha">
<meta name="author" content="SkyMocha">

</head>

<body>

    <div class="bg-back"> </div>
    <div class="bg-image"> </div>
    <div class="bg-cover"> </div>

    <div class="top_row"> 

        <div class="title">
            <h1>MochiComics</h1>
            <h3><%= name %></h3>

            <div class="flex"> 
                <h2><a href="/">Home</a></h2>
                <h2><a href="#">Discord</a></h2>
            </div>

            <br>

        </div>

    </div>

    <br>

    <br><br>

    <div class="center_row"> 

        <div class="padding"></div>
        <div class="articles">

            <h1>Chapters</h1>

            <hr class="half">

            <div class="chapters"> 

                <% for(var i=0; i < story.length; i++) { %>
        
                    <a href="<%= story[i].uri %>" class="chapter"><p><%= story[i].num %>. <%= story[i].name %></p></a>
        
                <% } %>
        
            </div>

        </div>
        <div class="padding_center"></div>
        <div class="news">
            <h1>News</h1>
            <hr class="half">

            <h2>Twitter</h2>
            <p style="text-align: center;">N/A</p>
        </div>
        <div class="padding"></div>

    </div>

    <br>
    <br>
    <br>

    <div class="bottom_row">

        <div>
            <div>  
                <h2>Contact</h2>

                <hr class="half">

                <h3>Email: <a href="" target="_blank">N/A</a></h3>
                <h3>Twitter: <a href="" target="_blank">N/A</a></h3>
            </div>

            <div>  
                <h2>Newsletter</h2>

                <hr class="half">

                <h3>TBA</h3>
            </div>
        </div>

        <p>&copy; SkyMocha & Sofia</p>

    </div>

</body>

<script>


</script>

</html>